body {
    margin: 0;
}

::selection {
    background-color: peru;
    color: white;
}

#heading {
    color: salmon;
    font-size: 2rem;
    font-weight: lighter;
    padding: 5px;
    width: 20%;
    font-family: 'Quicksand', sans-serif;
    border: palevioletred 1px;
    border-style: none none solid none;
    display: inline;
}

nav {
    color: salmon;
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
}

.listitem {
    margin: 5px;
    transition: 0.1s;
    transition-timing-function: ease-out;
    bottom: 0px;
    font-weight: normal;
}

nav ul li {
    display: inline-block;
    position: relative;
}

.listitem:hover {
    font-weight: lighter;
    color: rgb(219, 90, 4);
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    bottom: 5px;
    font-weight: bold;
}

ul>li>a {
    text-decoration: none;
    color: rgb(255, 149, 79);
}


}
ul>li>a:hover {
    font-weight: bolder;
    color: red;
}
a:active {
    color: peachpuff;
}
section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    /* only affects bg colour */
}
#opacity {
    margin-top: 10px;
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.3;
    /* affects the opacity of the entire element */
}